{% url 'cities:home' as cities_home_url %}
{% url 'cities:create' as cities_create_url %}
{% url 'trains:home' as trains_home_url %}
{% url 'trains:create' as trains_create_url %}
{% url 'list' as route_list %}

<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap CSS -->
		
		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
	  

		{% block title %}{% endblock title %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light container" style="background-color: #e3f2fd;">
			<div class="container-fluid">
				<a class="navbar-brand" href="{% url 'home' %}">Find Route</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" 
            aria-expanded="false" aria-label="Toggle navigation"
            >
				<span class="navbar-toggler-icon"></span>
				</button >
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link 
								{% if request.path == cities_home_url %}active {% endif %}" href="{% url 'cities:home' %}"
								>Города</a>
						</li>
						<li class="nav-item">
							<a class="nav-link 
								{% if request.path == trains_home_url %}active {% endif %}" href="{% url 'trains:home' %}"
								>Поезда</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {% if request.path == route_list %}active {% endif %}"  href="{% url 'list' %}">Список маршрутов</a>
						</li>
						{% if user.is_authenticated %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle 
                     {% if request.path == cities_create_url or request.path == trains_create_url %}active {% endif %}" 
								href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                        >
							Добавить 
							</a>
							
							<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" href="{% url 'trains:create' %}">Новый поезд</a></li>
								<li><a class="dropdown-item" href="{% url 'cities:create' %}">Новый город</a></li>
							</ul>
							
						</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link disbled"  href="">Добавить</a>
							</li>
							{% endif %}
						{% if user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link"  href="{% url 'accounts:logout' %}">Выйти</a>
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link"  href="{% url 'accounts:login' %}">Войти</a>
						</li>
						<li class="nav-item">
							<a class="nav-link"  href="{% url 'accounts:register' %}">Регистрация</a>
						</li>
						{% endif %}
						
						
					</ul>
				</div>
			</div>
		</nav>
		<div class='container'>
			<div class="row">
				<div class="col-md-8 mx-auto">
					{% if messages %}
					{% for message in messages %}
					{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important:
					<div class="alert alert-danger my-4 alert-dismissible fade show" role="alert">
						{{ message }}
						<button type="button" class="btn-close" 
							data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					{% else %}
					<div class="alert alert-success my-4 alert-dismissible fade show" role="alert" my-2>
						{{ message }}
						<button type="button" class="btn-close" 
							data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					</li>
					{% endif %}
					{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
		<div class='container'>
			{% block content %}{% endblock content %}
		</div>
		<!-- Optional JavaScript; choose one of the two! -->
		<!-- Option 1: Bootstrap Bundle with Popper -->
		<!-- CSS only -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>

		<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
		<!-- Option 2: Separate Popper and Bootstrap JS -->

			{% comment %} <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script> {% endcomment %}


	  <script>
		$(document).ready(function() {
			$('.js-example-basic-single').select2();
			$('.js-example-basic-multiple').select2();
		});
	  </script>
	</body>
</html>